<div>
    <div>
        <a href="/users">Home</a>
    </div>
    <div>
        <a href="/users/{{userId}}">Back to User Profile</a>
    </div>
    <div>
        <a href="/users/{{userId}}/stores/new">Add a new store</a>
    </div>
    <h1>{{userFullName}}'s Stores to Visit:</h1>
    <div>
        {{#each stores}}
            <div>
                <h3>{{this.name}}</h3>
                <div>Location: {{this.address}}</div>
                <a href="/users/{{../userId}}/stores/{{this._id}}/delete">X</a>
            </div>
        {{/each}}
    </div>
</div>