<div>
    <div>
        <a href="/users/{{userId}}/stores">Back to Stores</a>
    </div>
    <h1>{{store.name}}</h1>
    <div>
        Location: {{store.address}}
    </div>

    <a href="/users/{{userId}}/stores/{{store._id}}/delete">Delete</a>
</div>