<div>
    <div>
        <a href="/users">Home</a>
    </div>
    <div>
        <a href="/users/{{userId}}/stores/{{store._id}}">Back to {{store.name}}</a>
    </div>
    <h1>{{gift.title}}</h1>
    <div>Description: {{gift.description}}</div>
    <div>Price: ${{gift.price}}</div>
    <div>Came From: {{gift.cameFrom}}</div>
    
    <div>
        <a href="/users/{{userId}}/stores/{{store._id}}/gifts/{{gift._id}}/delete">Delete</a>
    </div>
</div>
